extends layout

block content
    div(class="form-wrapper")
        h1 #{login}
        p #{login_desc}

        form(action='/api/auth/login', method='POST', class="default-form")
            div
                div
                    div(class="default-form-div")
                        | #{username}:
                    input(type='text', class="form-control", name='name', value='')
                div
                    div(class="default-form-div")
                        |  #{password}:
                    input(type='text', class="form-control", name='password', value='')
            input(type='submit', class='mt-2', value=`${submit}`)

        a(href='/') #{return_home}