extends layout

block content
    div(class="form-wrapper")

        h1 #{register}
        p #{register_desc}

        form(action='/auth/register', method='POST', class = "default-form")
            div
                div
                    div(class="default-form-div")
                        | #{username}:
                    input(type='text', class="form-control", name='name', value='')
                div
                    div(class="default-form-div")
                        | Email:
                    input(type='text', class="form-control", name='email', value='')
                div
                    div(class="default-form-div")
                        | #{password}:
                    input(type='text', class="form-control", name='password', value='')
            input(type='submit', class='mt-2', value=`${submit}`)

        a( href='/') #{return_home}